/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title {
    font-size: 36px;
    margin-bottom: 20px;
}

.description {
    font-size: 18px;
    margin-bottom: 40px;
}

.board {
    display: grid;
    grid-template-columns: repeat(8, 40px); /* 8 columns, each 40px wide */
    grid-template-rows: repeat(8, 40px); /* 8 rows, each 40px high */
    border: 2px solid black;
}

.cell {
    box-sizing: border-box;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px; /* Adjust font size */
}

.knight {
    font-size: 40px; /* Increase font size for knight */
}

.reachable {
    background-color: #7FFF00; /* Bright green */
}

.current {
    background-color: #ffffcc; /* Light yellow */
}

.visited {
    background-color: #626464; /* Light grey */
}

.invalid {
    animation: blink 0.5s ease-in-out;
}

@keyframes blink {
    0% { background-color: #ff0000; }
    50% { background-color: transparent; }
    100% { background-color: #ff0000; }
}

.counter {
    margin-top: 20px;
}

.counter strong {
    font-weight: bold;
}

.reset-button {
    padding: 10px 20px; /* Increase padding to make the button larger */
    font-size: 16px; /* Adjust font size if needed */
    margin-top: 20px; /* Add margin at the top */
}

.game-over-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 0, 0, 0.8);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    display: none; /* Initially hide the game over message */
}


